body {
  background: #fbfe7b;
  background-color: #fbfe7b;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: inherit;
  text-decoration: underline;
}

.reveal a:hover {
  color: inherit;
}

.reveal .roll span:after {
  color: #fff;
  background: #000;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  border-color: #000;
}

.reveal a:hover img {
  border-color: #000;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
 .reveal .controls {
  color: #000000;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress span {
  background: #000;
}

.reveal section img.logo {
  border: 0;
  width: 50vw;
  background: none;
  box-shadow: none;
  margin-bottom: 10vh;
}

::selection {
  color: #fbfe7b;
  background: #000;
}

section.has-dark-background ::selection {
  color: #000;
  background: #fff;
}

@font-face{
  font-family:'CentennialLTPro';
  src: url(../webfonts/265B41_0_0.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'CentennialLTPro';
  src: url(../webfonts/265B41_1_0.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
html, body, .reveal {
  font-family:'CentennialLTPro',Times New Roman,Times,Georgia,DejaVu Serif,serif;
}


/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../webfonts/roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/roboto/roboto-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/roboto/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../webfonts/roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/roboto/roboto-v18-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/roboto/roboto-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/roboto/roboto-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.reveal section .b0 {
  border: 0;
}

.reveal section .m0 {
  margin: 0;
}

.reveal section .vab {
  vertical-align: baseline;
}

.reveal section .bsn {
  box-shadow: none;
}

.reveal .roboto {
  font-family: 'Roboto';
}